.wrapper-info {
    width: 325px;
    margin: 0 auto;
}

.text-info-inner {
    margin-top: 50px;
}

//UNICEF
.info {
    margin-right: 234px;
    margin-bottom: 21px;
    color: $primaryText;
    letter-spacing: 4px;
}

//SPACE-X
//DRAUGNES
//RE-CYCLE