                                    body {
                                        font-family: "Lato", sans-serif;
                                        height: 100vh;
                                        background-position-x: -250px;
                                        background-position-y: 181px;
                                        background-repeat: no-repeat;
                                    }
                                    
                                    h3 {
                                        font-family: $ff-text !important;
                                    }
                                    
                                    .wrapper-form {
                                        position: absolute;
                                        top: 53%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                        max-width: 277px;
                                        width: 100%;
                                        background: $background;
                                        border: 2px solid $primaryColour;
                                        padding: 25px;
                                        z-index: -1;
                                        border-radius: 14px;
                                    }
                                    
                                    .wrapper-form h4 {
                                        text-align: center;
                                        margin-bottom: 20px;
                                        text-transform: uppercase;
                                        letter-spacing: 14px;
                                        color: $btnText;
                                        font-size: 20px;
                                        font-weight: 900;
                                        z-index: 1;
                                    }
                                    
                                    .wrapper-form .input-field {
                                        margin-bottom: 10px;
                                    }
                                    
                                    .wrapper-form .input-field input[type="text"],
                                    .wrapper-form textarea {
                                        width: 100%;
                                        border: 1px solid $primaryColour;
                                        padding: 10px;
                                        border-radius: 14px;
                                        z-index: 1;
                                        background-color: $background;
                                    }
                                    
                                    .wrapper-form .btn input[type="submit"] {
                                        border: 0;
                                        margin-top: 15px;
                                        padding: 10px;
                                        width: 100%;
                                        background: $primaryBtn;
                                        columns: $primaryText;
                                        text-transform: uppercase;
                                        letter-spacing: 5px;
                                        font-weight: bold;
                                        border-radius: 14px;
                                        cursor: pointer;
                                        color: $btnText;
                                        z-index: 1;
                                    }
                                    
                                    wrapper-form #error_message {
                                        margin-bottom: 20px;
                                        padding: 10px;
                                        background: $background;
                                        text-align: center;
                                        font-size: 14px;
                                        transition: all 0.5s ease;
                                    }
                                    
                                    @media screen and (min-width: 1366px) {
                                        .footer-kontakt-meg {
                                            margin-top: 871px;
                                        }
                                        .logo-kontakt-meg {
                                            margin-top: -818px;
                                        }
                                        .wrapper-form {
                                            margin-top: 113px;
                                            max-width: 249px;
                                        }
                                    }