 //COLOURS
 $primaryBtn: rgb(236, 198, 89);
 $btnText: rgb(25, 25, 25);
 $primaryText: rgb(25, 25, 25);
 $primaryColour: rgb(155, 138, 109);
 $background: rgb(252, 252, 252);
 //FONTS
 $ff-text: "Lato",
 sans-serif;
 $ff-title: "Segoe UI",
 sans-serif;
 $ff-buttons: "Arial",
 sans-serif;